# vscode
.vscode

# Mac
.DS_Store
._.DS_Store

# Jupyter
.ipynb_checkpoints

# model
models/

## Tensorflow
# tensorboard
logs/
# TFRecord
*.tfrecord

keras/03_classification_structured_data.ipynb
keras/imgs/
